# API Endpoint
CAPCUT_API_URL="https://edit-api-sg.capcut.com/lv/v1/"
BYTEINTL_API_URL="wss://sami-sg1.byteintlapi.com/internal/api/v1/"

# Access Setting
DEVICE_TIME=""
SIGN=""
USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Safari/537.36"

# Node Setting
ERROR_HANDLE=true

# Server Setting
HOST="0.0.0.0"
PORT="8080"
ORIGIN="*"

# TOKEN reset interval time (hour)
TOKEN_INTERVAL=12